<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{NewUserCtrl.heading}}</h1>

      <form novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" ng-model="NewUserCtrl.user.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="email" ng-model="NewUserCtrl.user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" placeholder="password"
                 ng-model="NewUserCtrl.user.password">
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <ui-select id="company"
                     ng-model="NewUserCtrl.company"
                     theme="bootstrap"
                     ng-disabled="disabled"
                     reset-search-input="false"
                     style="width: 100%;"
                     title="Choose an address"
                     on-select="NewUserCtrl.onCompanySelect($item)">
            <ui-select-match placeholder="Seleziona una Company via $http"><span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="company in NewUserCtrl.companies"
                               refresh="NewUserCtrl.refreshCompanies($select.search)"
                               refresh-delay="500">
              <div ng-bind-html="company.name + '-' + company._id | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <button type="submit" class="btn btn-default" ng-click="NewUserCtrl.update()">Submit</button>
      </form>
    </div>
  </div>
</div>
